* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font: 12px/20px Arial;
    color: #333;
    background: url(../images/body-bg.png) 0 0 repeat;
}

#body-wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    clear: none;
}

.main-header {
    text-shadow: #fff 01px 0;
    padding: 23px 0 0 0;
    width: 85%;
    margin: 0 auto -1px auto;
    background: url(../images/spacer-1-980px.png) bottom center no-repeat;
}

.top_header {
    padding: 0 0 20px 0;
    background: url(../images/spacer-1-980px.png) bottom center no-repeat;
}

.account {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
    background: url(../images/arrow-1.png) 0 no-repeat;
    padding: 0 0 0 10px;
    border: none;
}

.logedin {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.logedin:after {
    content: "|";
}

.logedin:hover {
    color: #5c5b5b;
    text-shadow: 0 1px 0 rgb(255, 252, 252);
}

.account:hover {
    color: #5c5b5b;
    text-shadow: 0 1px 0 rgb(255, 252, 252);
}

.logo {
    float: right;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #222;
    text-shadow: 0 1px 2px rgba(34, 34, 34, 0.65);
}

.logo span {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    background: #333;
    font-weight: normal;
    padding: 2px 5px;
    vertical-align: bottom;
    border-radius: 0 5px 5px 0;
    text-shadow: none;
}

.menu {
    float: left;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    display: inline-block;
}

.social {
    float: left;
    margin: 0 10px 0 10px;
}

.navbar {
    background: url(../images/spriteh.png);
    height: 40px;
    left: 0;
    right: 0;
    line-height: 40px;
    border: #000000;
    text-shadow: 0 1px 0 #000000;
    margin-bottom: 25px;
    font-size: 14px;
    clear: both;
    z-index: 9999;
}

.main-navbar {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.right-nav {
    list-style: none;
    padding-right: 0;
}

.right-nav li {
    display: inline-block;
    color: aliceblue;
    float: right;
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px;
}

.right-nav li a {
    color: #d3d4d4;
    text-decoration: none;
}

.right-nav li:hover {
    color: #ffffff;
    background: #222;
    text-decoration: none;
}

.login {
    display: none;
    text-align: center;
    padding: 10px 0 20px 0;
}

.login-input {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
    width: 200px;
    height: 25px;
    padding: 6px 15px;
    font-size: 12px;
    color: #555;
    margin: 10px;
}

.search {
    display: inline-block;
    float: left;
}

.search-input {
    width: 250px;
    height: 25px;
    padding: 6px 15px;
    font-size: 12px;
    color: #555;
}

.search-submit {
    background: url(../images/search.png) center center no-repeat;
    border: none;
    height: 40px;
    top: 0;
    right: 0;
    width: 18px;
    text-indent: 9000px;
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

.sidebar {
    width: 21%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    min-height: 1px;
}

.cart-block {
    background-color: #222;
    color: aliceblue;
    padding: 5px;
    margin-bottom: 20px;
}

table,
table tr,
table th,
table td {
    border: none;
}

table {
    font-size: 15px;
}

.table-head {
    padding: 0 5px 0 5px;
    border: 2px solid #222;
    border-radius: 20px 20px 0 0;
    direction: ltr;
    text-align: center;
    box-shadow: 0px 0px 7px 1px rgba(34, 34, 34, 0.46);
}

.table-head tr th {
    width: auto;
}

.table-head tr th a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

.cart-ico {
    background: url(../images/ico-cart-1.png) center no-repeat;
    padding-left: 20px;
}

.cate-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #ddd;
    text-align: right;
}

.panel-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-header {
    background: #333333 !important;
    color: #fff !important;
    box-shadow: 0px 0px 7px 1px rgba(34, 34, 34, 0.46);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
}

.list-group {
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 15px;
    margin-bottom: -1px;
    background-color: #fff;
}

.list-group-item:first-child {
    border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.list-group-item a {
    font-weight: bold;
    text-decoration: none;
    color: #727272;
    vertical-align: text-bottom;
}

.list-group-item a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #222;
    vertical-align: text-bottom;
}

.products-container {
    float: right;
    width: 77%;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.products-body {
    padding: 10px;
    margin-top: 15px;
}

.products-body h2 {
    background: #333;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.products {
    width: 33.3333%;
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 15px;
}

.container_title {
    padding: 4px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgba(34, 34, 34, 0.14) 30%, #222 80%);
    color: aliceblue;
}

.details-body {
    width: 66%;
    margin-right: 12px;
    float: right;
    position: relative;
}

.details-title {
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
    color: #222;
}

.details-price {
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    font-size: 25px;
    margin-bottom: 20px;
    color: aliceblue;
}

.desc-head {
    background: #222;
    color: aliceblue;
    border-radius: 5px 5px 0 0;
}

.desc-head h2 {
    margin-bottom: 5px;
}

.details-description {
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
    padding: 5px;
}

.details-buy input {
    position: inherit;
}

.item-block {
    background-color: #fff;
    float: right;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    margin: 0 0 25px 25px;
}

.item-block:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 15px;
}

.item-block img {
    position: absolute;
    width: 210px;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 0 0 8px 0;
}

.product-title {
    float: none;
    text-align: center;
    font-weight: bold;
}

.product-price {
    float: none;
    text-align: center;
}

.add-product {
    text-align: center;
}

.add-product a {
    text-decoration: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 15px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
    padding: 5px;
    margin-bottom: 10px;
}

.qty {
    width: 30px;
    color: #333 !important;
    text-align: center;
}

.footer {
    height: 40px;
    background: #333;
    color: aliceblue;
    float: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
}

.black-btn {
    background: url(../images/buttons.png);
    border: 1px solid #151515;
    -moz-text-shadow: 0px -1px 0px #050505;
    -webkit-text-shadow: 0px -1px 0px #050505;
    -o-text-shadow: 0px -1px 0px #050505;
    text-shadow: 0px -1px 0px #050505;
    color: #929292;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
}

.black-btn-pro {
    background: url(../images/buttons.png);
    border: 1px solid #151515;
    -moz-text-shadow: 0px -1px 0px #050505;
    -webkit-text-shadow: 0px -1px 0px #050505;
    -o-text-shadow: 0px -1px 0px #050505;
    text-shadow: 0px -1px 0px #050505;
    color: #929292;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 2px 20px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
}

.black-btn-login {
    background: url(../images/buttons.png);
    border: 1px solid #151515;
    -moz-text-shadow: 0px -1px 0px #050505;
    -webkit-text-shadow: 0px -1px 0px #050505;
    -o-text-shadow: 0px -1px 0px #050505;
    text-shadow: 0px -1px 0px #050505;
    color: #929292;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 0 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
}

.black-btn-logout {
    background: url(../images/buttons.png);
    border: 1px solid #151515;
    -moz-text-shadow: 0px -1px 0px #050505;
    -webkit-text-shadow: 0px -1px 0px #050505;
    -o-text-shadow: 0px -1px 0px #050505;
    text-shadow: 0px -1px 0px #050505;
    color: #929292;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
}

.black-btn:hover,
.black-btn-pro:hover,
.black-btn-login:hover,
.black-btn-logout:hover {
    background: #323232;
    color: #FFFFFF;
    text-decoration: none;
}

.reg {
    padding: 6px 50px;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.table>thead>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, Sans-serif;
    text-align: right;
}

.table>tbody>tr>th {
    text-align: right;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
    color: #292929;
}

.table img {
    width: 40px;
    height: 40px;
}

th {
    text-align: left;
}

td,
th {
    padding: 0;
}

.addby {
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgba(51, 51, 51, 0.94);
    color: #8b8b8b;
}

.blogin {
    text-align: center;
    padding: 50px;
    color: red;
}

.blogin h3 a {
    text-decoration: none;
}
